<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EFA Health</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse text-secondary">
        <div class="container">
            <div class="navbar-header">
                <div class="dropdown" style="display:inline-flex">
                    <button class="btn btn-link btn-lg" type="button" data-toggle="dropdown">
                        <span class="fa fa-bars" style="font-size:24px;"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Clinics", "Index", "Clinic")</li>
                        <li>@Html.ActionLink("Providers", "Index", "Provider")</li>
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Receptionist") || User.IsInRole("Provider")))
                        {
                            <li>@Html.ActionLink("Appointments", "Index", "Appointment")</li>
                            <li>@Html.ActionLink("Patients", "Index", "Patient")</li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
                        }
                    </ul>
                    <div style="padding:8px;">
                        @Html.ActionLink("EFA Health", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-light" })
                    </div>
                </div>
            </div>
            <div class="text-secondary" style="display:inline;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - Sabra Snider - EFA Health</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
